body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 103vh;
    margin: 0;
}

table {
    border-collapse: collapse;
    margin: 10px;
    width: 100%;
    max-width: 400px; 
}


td {
    width: 14%; 
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    font-size: 0.8em; 
}

.amarillo {
    background-color: lightyellow;
}

.verde {
    background-color: lightgreen;
}

.rojo {
    background-color: rgb(124, 21, 21);
}

.azul {
    background-color: lightblue;
}

#vacio {
    background-color: white;
    border: none;
    background-color: lightblue;
}

img {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

td.img{
    display: inline;
}

.fueraCasa{
    margin: 0px;
    display: inline-block;
    width: 0.6vw;
    height: 1.3vh;
    align-items: center;
    justify-content: center;
}

.fichas{
    display: inline;
    width: 3vw;
}












body {
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: #1b262c;
    
    margin: 0;
    background-color: #0f4c75;
}

#contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

#central {
    max-width: 320px;
    width: 100%;
}

.titulo {
    font-size: 250%;
    color:#bbe1fa;
    text-align: center;
    margin-bottom: 20px;
}

#login {
    width: 100%;
    padding: 50px 30px;
    background-color: #3282b8;
    
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    box-sizing: border-box;
}

#login input {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #1b262c;
    
    display: block;
    width: 100%;
    height: 40px;
    
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    
    box-sizing: border-box;
    
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

#login input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #E4E4E4;
}

#login button {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color:#1b262c;
    width: 100%;
    height: 40px;
    border: none;
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    background-color: #bbe1fa;
    
    margin-top: 10px;
}

#login button:hover {
    background-color: #0f4c75;
    color:#bbe1fa;
}

.pie-form {
    font-size: 90%;
    text-align: center;    
    margin-top: 15px;
}

.pie-form a {
    display: block;
    text-decoration: none;
    color: #bbe1fa;
    margin-bottom: 3px;
}

.pie-form a:hover {
    color: #0f4c75;
}

.inferior {
    margin-top: 10px;
    font-size: 90%;
    text-align: center;
}

.inferior a {
    display: block;
    text-decoration: none;
    color: #bbe1fa;
    margin-bottom: 3px;
}

.inferior a:hover {
    color: #3282b8;
}

#registro {
    width: 100%;
    padding: 50px 30px;
    background-color: #3282b8;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    box-sizing: border-box;
  }

  #registro input {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #1b262c;
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
  }

  #registro input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #E4E4E4;
  }

  #registro button {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #1b262c;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    background-color: #bbe1fa;
    margin-top: 10px;
  }

  #registro button:hover {
    background-color: #0f4c75;
    color: #bbe1fa;
  }





  .formulari_centrat {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .container {
    padding: 16px;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .avatar_profile {
    border-radius: 50%;
    margin-top: 10px;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Responsive layout - make the form stack on top of each other */
  @media screen and (max-width: 600px) {
    .formulari_centrat {
      width: 80%;
    }
  }

  
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px; /* Ajusta la altura según tu necesidad */
    width: 50px; /* Ajusta el ancho según tu necesidad */
    border-radius: 50%; /* Hace el logo redondito */
    background-color: #3498db; /* Cambia el color de fondo según tu preferencia */
    color: #ffffff; /* Cambia el color del texto según tu preferencia */
    font-size: 16px; /* Ajusta el tamaño del texto según tu preferencia */
    font-weight: bold;
}
